body {
  margin: 0;
  padding: 0;
  background-image: url(comingsoonposter.jpg);
  background-size: cover; /* Makes the background image cover the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents background image from repeating */
}

.container {
  /* Add styles to center your content, set the maximum width, etc. */
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 250px;
  padding-top: 250px;
}
